:global {
  .writeon {
    height: auto;
    width: 18vw;
    max-width: 110px;
  }

  .logo {
    font-family: 'Montserrat', sans-serif;
    height: 80px;
    width: 120px;
    font-weight: 800;

    @media (max-width: 740px) {
      display: none;
    }
  }
}

.container {
  padding: 5rem 0 2rem 0;

  @media (max-width: 570px) {
    padding: 3rem 0 2rem 0;
  }
}

.create-new-btn {
  font-size: 18px;
  background-color: white;
  color: black;
  outline: none;
  border: 2px solid #1d1b1b;
  border-radius: 6px;

  padding: 10px 15px;
  margin-right: 15px;

  font-family: 'Inter', sans-serif;
  font-weight: 600;

  @media (max-width: 569px) {
    display: none;
  }

  &:hover {
  }
}

.create-new-btn-mobile {
  display: none;
  font-size: 2.3rem;
  cursor: pointer;
  margin-right: 1rem;

  @media (max-width: 569px) {
    margin-left: 1.5rem;
    display: unset;
  }

  @media (max-width: 285px) {
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-size: 1.7rem;
  }
}

.header-menu-btn {
  font-size: 2rem !important;
}

.modal-error {
  color: red;
  font-size: 13px;
}
