.header {
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
  background: white;
  border-bottom: 1px solid whitesmoke;
  height: 82px;
  padding: 0 4rem;
}

.create-new {
  @extend .header;
  padding: 1rem;
}

.words-container {
  width: 40%;
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}

.word-tag {
  padding: 0 8px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  width: fit-content;
  background-color: #edf2f7;
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}

.words-list {
  overflow: scroll;
  box-shadow: 3px 0 0px rgb(171, 171, 171);

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}