$shadow-animation: box-shadow 300ms ease;

.notecard {
  overflow: hidden;
  width: 250px;
  max-height: 320px;
  padding: 1.25rem;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-width: 1px;
  border-radius: 0.5rem;
  transition: $shadow-animation;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: $shadow-animation;
  }

  &:active {
    box-shadow: rgba(0,0,0,0.06) 0px 1px 2px 0px inset;
  }
}

.title {
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.content {
  max-height: 81%;
  overflow: hidden;
}