:global {
  .landing-header {
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
    background: white;
    border-bottom: 1px solid whitesmoke;
    height: 100px;
    padding: 0 4rem;
    max-width: 1600px;
    margin: 0 auto;

    @media (max-width: 570px) {
      border-bottom: 2px solid whitesmoke;
      padding: 0 1.5rem 0 2rem;
    }
  }

  .landing-header-top {
    @extend .landing-header;
    border-bottom: none;
  }
}

// .writeon-landing {
//   height: auto;
// }

.header-right {
  display: flex;
}

.writeon-logo {
  max-height: 123.24px;
  // min-height: 123.24px;
  // min-width: 163.8px;
  max-width: 163.8px;

  @media (max-width: 400px) {
    height: auto;
    width: 100%;
  }
}

.login {
  width: 140px;
  height: 50.65px;
  font-size: 25px;

  padding: 0.645rem 2.1rem;

  background-color: #1d1b1b;
  color: white;

  border-radius: 6px;

  font-family: 'Inter', sans-serif;
  font-weight: 600;

  margin-right: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 680px) {
    display: none;
  }
}

.signup {
  width: 140px;
  height: 50.65px;
  font-size: 25px;

  background-color: #d7d7d7;
  border-radius: 6px;
  // border: 2px solid #1d1b1b;
  color: #8c8c8c;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  cursor: unset;

  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 680px) {
    display: none;
  }
}

// ==== MOBILE MENU ==== //

.mobile-menu-icon {
  display: none;

  * {
    font-size: 3rem;
  }

  @media (max-width: 680px) {
    display: unset;
  }

  @media (max-width: 320px) {
    margin-left: 3.5rem;

    * {
      font-size: 2.5rem;
    }
  }
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 170px;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid whitesmoke;
  position: fixed;
  top: 100px;

  @media (min-width: 680px) {
    display: none;
  }

  .signup-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50px;
    border: 2px solid #1d1b1b;
    border-radius: 6px;
    background-color: white;

    font-family: 'Inter', sans-serif;
    font-weight: 600;

    font-size: 1.1rem;
  }

  .login-mobile {
    @extend .signup-mobile;
    background-color: #1d1b1b;
    color: white;
    margin-bottom: 0.5rem;
  }
}

.mobile-menu-hidden {
  @extend .mobile-menu;
  height: 0px;
  display: none;

  .login-mobile {
    display: none;
  }

  .signup-mobile {
    display: none;
  }
}

// ==== MOBILE MENU END ==== /

.container {
  margin: 0 auto;
  width: 80%;

  @media (max-width: 400px) {
    width: 90%;
  }
}

.header {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  margin-bottom: 1rem;
  font-size: max(3em, min(4.5em, 6.5em));
  font-weight: 700;
  margin-top: 100px;
  text-align: center;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: max(2em, min(1.5em, 4.5em));
  font-weight: 400;
  text-align: center;
  color: #737373;
  margin-top: -18px;
  margin-bottom: 70px;
}

.hero-img {
  width: 93%;
  max-width: 1053px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  img {
    border-radius: 5px;
  }
}

.features {
  padding: 165px 0;
}

.features-container {
  margin: 0 auto;
  width: 75%;
  max-width: 1050px;

  @media (max-width: 400px) {
    width: 90%;
  }
}

.feature {
  display: flex;
  margin-bottom: 104px;

  @media (max-width: 990px) {
    flex-direction: column;
    margin-bottom: 70px;
  }
}

.feature-img {
  min-width: 540px;
  max-width: 540px;
  min-width: 41.7%;
  max-height: 307px;
  height: auto;
  margin-right: 62px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-radius: 5px;
  overflow: hidden;

  @media (max-width: 990px) {
    margin: 0 auto;
  }

  @media (max-width: 700px) {
    min-width: 80%;
  }
}

.text-container {
  max-width: 480px;
  height: fit-content;
  align-self: center;

  @media (max-width: 990px) {
    text-align: center;
    margin-top: 2rem;
  }
}

.feature-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
}

.feature-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.feature-flipped {
  @extend .feature;
  flex-direction: row-reverse;

  @media (max-width: 990px) {
    flex-direction: column;
  }
}

.feature-flipped-img {
  @extend .feature-img;
  margin-right: 0;
  margin-left: 62px;

  @media (max-width: 990px) {
    margin: 0 auto;
  }
}

.footer {
  width: 100%;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.5rem;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;

  border-top: 1px solid whitesmoke;

  .footer-right:hover {
    text-decoration: underline;
  }

  @media (max-width: 680px) {
    padding: 0 2.5rem;
  }

  @media (max-width: 400px) {
    font-size: 1.2rem;
    padding: 0 1.5rem;
  }

  @media (max-width: 300px) {
    font-size: 0.95rem;
  }
}
