* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 25vw;
}

.container > h1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
}

.post {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.user {
  display: flex;
}

.name {
  margin-right: 5px;
}

.post > p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.heart-icon {
  margin: inherit;
  position: absolute;
  top: 0;
  right: 0;
  fill: transparent;
  /* transition: 0.1s ease-out; */
  cursor: pointer;
}

.heart-icon:hover,
.saved {
  fill: red;
  stroke: red;
  transition: 0.1s ease-in;
}

.navbar {
  /* background: #fff; */
  height: 80px;
  display: flex;
  position: sticky;
  z-index: 100;
  top: 0;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid grey; */
  /* box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.1); */
}

.profile-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 3rem;
  cursor: pointer;
}
