:root {
  --speed: 500ms;
  --menu-item-width: 14rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
}

.App {
  position: relative;
}

.container > h1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
}

/* src\components\Posts\index.js */
.post {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.post-title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  /* font-family: 'Arial'; */
}

.post-title,
div:focus {
  outline: none;
}

.quill {
  padding-bottom: 500px;
}
/* for the text inside quill editor */
.ql-editor {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.modeSelection {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.modeSelection > input {
  margin-right: 0.5rem;
}

.modeSelection > label {
  margin-right: 1rem;
}


.word-number-input {
  height: 2em;
  width: 3em;
  margin-top: 0.7rem;
  margin-right: 0.5rem;
}

.refresh-btn {
  margin-top: 0.5rem;
  font-size: 2rem;
}

.words-list {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.words-list > li {
  list-style: none;
  margin-right: 1.5rem;
}

.number-input {
  margin-right: 1rem;
}

.word-count-progress-bar {
  position: sticky !important;
  z-index: 90;
  top: 80px;
  width: 100%;
}

.time-limit-progress-circle {
  position: fixed !important;
  bottom: 30px;
  right: 40px;
  z-index: 100;
  /* left: 50px; */
  /* margin-left: 94vw; */
  /* margin-top: 68vh; */
}

.editor-container {
  padding-top: 3rem;
  margin: 0 28vw;
}

.editor-left-chevron {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.menu-icon {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  margin-right: 63px;
  margin-left: 1rem;
  margin-top: 5px;
}

.lightbulb {
  margin-right: 50px;
}


.logo {
  font-family: "Montserrat", sans-serif;
  background-size: 40px 60px;
  font-weight: 800;
}

.writeOn {
  height: 90px;
}

/* .header.css-1atmffo {
  padding: 0 4rem;
} */

.create-new {
  padding: 1rem !important;
}

.word-count {
  position: sticky;
  top: 100px;
  left: 93vw;
  right: 0;
  width: fit-content;
  margin: 0;
  /* margin-right: -10px; */
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #bdbdbd;
}
/* 
.mode-menu {
  transform: rotate(50deg);
} */

.save-btn {
  padding: 0rem 5rem;
  margin-left: 1rem;
}

.mode-menu-option {
  color: RGBA(0, 0, 0, 0.5);
  line-height: 21.94px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
}

/* "delete post" popup in createnew page header */
.css-r6z5ec {
  z-index: 100;
}

.container {
  /* margin: 0 auto; */
  padding: 5rem 0 2rem 0;
  /* width: 90vw; */
}

/* HOME PAGE */

.home-layout {
  /* display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto; */
}


.grid-view {
  /* min-width: 50vw; */
  /* max-width: 100%; */
  max-width: 1350px;
  width: 90%;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}


.view-menu {
  /* max-width: 1300px; */
  width: 89%;
  max-width: 1310px;
  margin: 0 auto;
}

.list-view-icon {
  height: 2rem;
  width: 2rem;
  color: #9e9e9e;
  cursor: pointer;
}

.ascending-icon {
  margin-top: 4px;
  margin-right: 1rem;
  height: 1.8rem;
  width: 1.8rem;
  color: #9e9e9e;
  cursor: pointer;
}

@media screen and (max-width: 1517px) {
  .grid-view {
    max-width: 1080px;
  }
  .view-menu {
    max-width: 1040px;
  }
}

@media screen and (max-width: 1217px) {
  .grid-view {
    max-width: 810px;
  }
  .view-menu {
    max-width: 770px;
  }
}

@media screen and (max-width: 917px) {
  .grid-view {
    max-width: 540px;
  }
  .view-menu {
    max-width: 500px;
  }
}

@media screen and (max-width: 617px) {
  .grid-view {
    max-width: 70%;
  }
  .grid-view > div {
    width: 100%;
  }
  
  .view-menu {
    max-width: 63%;
  }

  .view-menu > .list-view-icon {
    width: 32px;
    
  }

  .list-view-icon {
    display: none;
  }
}

.list-view {
  max-width: 700px;
  width: 95%;
  margin: 0 auto;
}

.list-view > div {
  margin-right: 0;
  width: 700px;
  max-width: 700px;
  width: 90%;
}