:root {
  --speed: 500ms;
  --menu-item-width: 14rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  backface-visibility: hidden;
}

.container {
  margin: 0 20vw;
}

.container > h1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.post {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.user {
  display: flex;
}

.name {
  margin-right: 5px;
}

.post > p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.heart-icon {
  margin: inherit;
  position: absolute;
  top: 0;
  right: 0;
  fill: transparent;
  /* transition: 0.1s ease-out; */
  cursor: pointer;
}

.heart-icon:hover,
.saved {
  fill: red;
  stroke: red;
  transition: 0.1s ease-in;
}

/* .navbar {
  background: #fff;
  height: 80px;
  display: flex;
  position: sticky;
  z-index: 100;
  top: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.1);
} */

.login {
  cursor: pointer;
  position: absolute;
  right: 7em;
}

.profile-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 3rem;
  cursor: pointer;
}

.post-title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  /* font-family: 'Arial'; */
}

.post-title,
div:focus {
  outline: none;
}

.quill {
  padding-bottom: 500px;
}
/* for the text inside quill editor */
.ql-container {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.modeSelection {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.modeSelection > input {
  margin-right: 0.5rem;
}

.modeSelection > label {
  margin-right: 1rem;
}

.words-list-wrapper {
  display: flex;
  justify-content: center;
}

.word-number-input {
  height: 2em;
  width: 3em;
  margin-top: 0.7rem;
  margin-right: 0.5rem;
}

.refresh-btn {
  margin-top: 0.5rem;
  font-size: 2rem;
}

.words-list {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.words-list > li {
  list-style: none;
  margin-right: 1.5rem;
}

.number-input {
  margin-right: 1rem;
}

.word-count-progress-bar {
  position: sticky !important;
  z-index: 90;
  top: 80px;
  width: 100%;
}

.time-limit-progress-circle {
  position: fixed !important;
  bottom: 30px;
  right: 40px;
  z-index: 100;
  /* left: 50px; */
  /* margin-left: 94vw; */
  /* margin-top: 68vh; */
}

.editor-container {
  padding-top: 3rem;
  margin: 0 28vw;
}

.editor-left-chevron {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.menu-icon {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  margin-right: 63px;
  margin-left: 1rem;
  margin-top: 5px;
}

.lightbulb {
  margin-right: 50px;
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  background: white;
  border-bottom: 1px solid whitesmoke;
  height: 82px;
  padding: 0 4rem !important;
}

.logo {
  font-family: "Montserrat", sans-serif;
  background-size: 40px 60px;
  font-weight: 800;
}

.writeOn {
  height: 100px;
}

/* .header.css-1atmffo {
  padding: 0 4rem;
} */

.create-new {
  padding: 1rem !important;
}

.word-count {
  position: sticky;
  top: 100px;
  left: 93vw;
  right: 0;
  width: fit-content;
  margin: 0;
  /* margin-right: -10px; */
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #bdbdbd;
}
/* 
.mode-menu {
  transform: rotate(50deg);
} */

.save-btn {
  padding: 0rem 5rem;
  margin-left: 1rem;
}

.mode-menu-option {
  color: RGBA(0, 0, 0, 0.5);
  line-height: 21.94px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
}

/* menu list */
.css-r6z5ec {
  z-index: 100;
}
