* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
}

.container > h1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
}

.quill {
  padding-bottom: 100px;
}

.ql-container {
  max-height: 100%;
}

.modeSelection {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.modeSelection > input {
  margin-right: 0.5rem;
}

.modeSelection > label {
  margin-right: 1rem;
}

.refresh-btn {
  margin-top: 0.5rem;
  font-size: 2rem;
}

.number-input {
  margin-right: 1rem;
}

.create-new {
  padding: 1rem !important;
}

.mode-menu-option {
  color: RGBA(0, 0, 0, 0.5);
  line-height: 21.94px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
}

/* "delete post" popup in createnew page header */
.css-r6z5ec {
  z-index: 100;
}
